In [1]:
import pandas as pd

# 시리즈 만들기
menu = pd.Series(['비빔밥', '김치찌개', '된장찌개']) # 문자열
price = pd.Series([10000, 9000, 8000]) # 정수형

# display(menu, price) # 동시에 창 띄울수 있는 함수
# print(menu)
# print(price)

In [2]:
# 데이터 프레임 만들기
# 1) 시리즈로 생성
df_from_series = pd.DataFrame({
    '메뉴': menu,
    '가격': price
})
# df_from_series

# 2) 리스트 or 딕셔너리로 직접 생성
df = pd.DataFrame({
    '메뉴': ['비빔밥', '김치찌개', '된장찌개'],
    '가격': [10000, 9000, 8000],
    '원산지': ['국내산', '국내산', '국내산']
})
df

     메뉴     가격  원산지
0   비빔밥  10000  국내산
1  김치찌개   9000  국내산
2  된장찌개   8000  국내산

In [3]:
# 단일 컬럼
menu_series = df['메뉴']     # 타입: pandas.Series
menu_series
# type(menu_series) # pandas.core.series.Series

0     비빔밥
1    김치찌개
2    된장찌개
Name: 메뉴, dtype: object

In [4]:
# 단일 컬럼을 dataFrame으로 
menu_df = df[['메뉴']]       # 타입: pandas.DataFrame
menu_df
# type(menu_df) # pandas.core.frame.DataFrame

     메뉴
0   비빔밥
1  김치찌개
2  된장찌개

In [5]:
# 여러 컬럼 선택(메뉴, 가격 선택해서 dataFrame형태로)
menu_price_df = df[['메뉴', '가격']]
menu_price_df

cols = ['메뉴', '가격']
menu_price_df2 = df[cols]
menu_price_df2

     메뉴     가격
0   비빔밥  10000
1  김치찌개   9000
2  된장찌개   8000

In [6]:
# 타입 확인
print('df          : ', type(df))
print("df['가격']   : ", type(df['가격']))     # Series
print("df[['가격']] : ", type(df[['가격']]))   # DataFrame

df          :  <class 'pandas.core.frame.DataFrame'>
df['가격']   :  <class 'pandas.core.series.Series'>
df[['가격']] :  <class 'pandas.core.frame.DataFrame'>

In [7]:
# 행 선택
# 1) loc (레이블기반)
row0 = df.loc[0]  # 첫 번째 행(인덱스 0) 전체
row0
rows_0_to_1 = df.loc[0:1] # # 인덱스 0~1 범위(끝 포함)
rows_0_to_1

# 조건식: 가격이 9000 이상인 행
rows_price_ge_9000 = df.loc[df['가격'] >= 9000, ['메뉴', '가격']]
rows_price_ge_9000

     메뉴     가격
0   비빔밥  10000
1  김치찌개   9000

In [8]:
# 2) iloc (정수기반)
row0_iloc = df.iloc[0] # 첫 번째 행(정수 위치 0)
row0_iloc


sub_iloc = df.iloc[0:2, 0:3] # 첫 2행(0,1)과 앞의 2개 컬럼(0,1)
sub_iloc

     메뉴     가격  원산지
0   비빔밥  10000  국내산
1  김치찌개   9000  국내산

In [9]:
# 컬럼 추가
# 10% 할인 가격 컬럼 추가
df['할인가'] = (df['가격'] * 0.9).astype(int) 
df

     메뉴     가격  원산지   할인가
0   비빔밥  10000  국내산  9000
1  김치찌개   9000  국내산  8100
2  된장찌개   8000  국내산  7200

In [10]:
# 값 수정
# '김치찌개' 가격 9500으로 변경
df.loc[df['메뉴'] == '김치찌개', '가격'] = 9500
df

     메뉴     가격  원산지   할인가
0   비빔밥  10000  국내산  9000
1  김치찌개   9500  국내산  8100
2  된장찌개   8000  국내산  7200

In [11]:
# 컬럼 삭제
# '할인가' 컬럼 삭제
df = df.drop(columns=['할인가']) # df.drop(columns=['할인가']) 만 실행하면 확인 -> df에 넣어줘야 적용됨
df

     메뉴     가격  원산지
0   비빔밥  10000  국내산
1  김치찌개   9500  국내산
2  된장찌개   8000  국내산

In [12]:
# 문제1
# fruits = pd.Series(['사과', '바나나', '포도'])
# fruits

In [13]:
# 문제2
# df = pd.DataFrame({
#     '상품' : ['키보드', '마우스', '모니터'],
#     '가격' : [30000, 15000, 200000],
#     '재고' : [10, 25, 7]
# })
# df

In [14]:
# 문제3
# prod_s = df['상품']  # series로
# prod_df = df[['상품']] # dataframe으로

In [15]:
# 문제4
# price_view = df[['상품', '가격']]
# price_view

In [16]:
# 문제5
# expensive = df.loc[df['가격'] >= 20000, ['상품', '가격']]
# expensive

In [17]:
# 문제6
# df.loc[df['상품'] == '마우스', '가격'] = 17000
# df

In [18]:
# 문제7
# sub_iloc = df.iloc[:2, :2]
# sub_iloc

In [19]:
# 문제8
# df['부가세 포함가'] = (df['가격'] * 0.9).astype(int)
# df

In [20]:
# 문제9
# df_sorted = df.sort_values(by='가격', ascending=False)
# df_sorted

In [21]:
# 문제10
# df_en = df.rename(columns={'상품' : 'product', '가격' : 'price', '재고' : 'stock'})
# df_en

In [22]:
# 문제11
# 예시용 df2
df2 = pd.DataFrame({
    'A': [10, 20, 30, 40],
    'B': [1, 2, 3, 4]
}, index=[0, 1, 2, 3])
df2

    A  B
0  10  1
1  20  2
2  30  3
3  40  4

In [23]:
part_loc = df2.loc[:2]
part_loc

    A  B
0  10  1
1  20  2
2  30  3

In [24]:
# 문제12
part_iloc = df2.iloc[:2]
part_iloc

    A  B
0  10  1
1  20  2

In [25]:
# 문제13
# redf = df['가격'] >= 50000
# # redf
# df.loc[redf, '재고'] = df.loc[redf, '재고'] + 5
# df.loc[redf, '부가세 포함가'] = (df.loc[redf, '가격'] * 1.10).astype(int)
# df
# df # -> dataframe 확인용

In [29]:
# 가격 오름차순
df_sorted_asc = df.sort_values(by='가격', ascending=True)

# 가격 내림차순
df_sorted_desc = df.sort_values(by='가격', ascending=False)
df_sorted_asc
df_sorted_desc

     메뉴     가격  원산지
0   비빔밥  10000  국내산
1  김치찌개   9500  국내산
2  된장찌개   8000  국내산

In [28]:
# 원산지가 국내산이면서 가격이 9000 이상
filtered = df[(df['원산지'] == '국내산') & (df['가격'] >= 9000)]
# filtered

c = (df['원산지'] == '국내산') & (df['가격'] >= 9000)
type(c)
d = df[c]
d

     메뉴     가격  원산지
0   비빔밥  10000  국내산
1  김치찌개   9500  국내산

In [30]:
# 컬럼명 일괄 변경 예시
df_renamed = df.rename(columns={'메뉴': 'menu', '가격': 'price', '원산지': 'origin'})
df_renamed

   menu  price origin
0   비빔밥  10000    국내산
1  김치찌개   9500    국내산
2  된장찌개   8000    국내산